# 基础数据处理库
numpy==1.24.4
pandas==1.5.3
xarray==2023.7.0
netCDF4==1.6.4
# 网页和可视化库
streamlit==1.28.2
matplotlib==3.7.2
plotly==5.18.0
# 聚类和其他库
scikit-learn==1.3.2
python-dotenv==1.0.0
# GDAL相关（适配你的gdal_py38环境）
gdal==3.6.4